[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Exec=/usr/bin/qfaktury
TryExec=
Icon=/usr/share/qfaktury/icons/qfaktury_48.png
X-GNOME-DocPath=
Terminal=false
Name[pl_PL]=QFaktury
GenericName[pl_PL]=qfaktury
Comment[pl_PL]=Program do drukowania faktur
