.page_break {page-break-before: always;}

h1 {
 font-family: Verdana, Tahoma, Arial;
 font-size: 18px;
 color: #000000; 
 font-style: normal;
 font-weight: bold;
}

h2 {
 font-family: Verdana, Tahoma, Arial;
 font-size: 16px;
 color: #000000; 
 font-style: normal;
 font-weight: bold;
}

h3 {
 font-family: Verdana, Tahoma, Arial;
 font-size: 14px;
 color: #000000; 
 font-style: normal;
 font-weight: bold; 
}

h4 {
 font-family: Verdana, Tahoma, Arial;
 font-size: 12px;
 color: #000000; 
 font-style: normal;
 font-weight: bold;
}

.persons {
 font-family: Verdana, Tahoma, Arial;
 font-size: 8pt; 
 font-weight: 600;
 text-align: left;
}

.productsHeader {
 font-family: Verdana, Tahoma, Arial;
 font-size: 6pt; 
 font-weight: 800;
 color: #000000; 
  text-align: center;
}

.products td {
 font-family: Verdana, Tahoma, Arial;
 color: #000000; 
 font-style: normal;
 border-spacing: 0;
 font-size: 5pt; 
 font-weight: 400;
 text-align: center;
 vertical-align: middle;
}

.productsSumHeader {
 font-family: Verdana, Tahoma, Arial;
 color: #000000; 
 font-style: normal;
 font-size:6pt; 
 font-weight:400;
 text-align: center;
 table-layout: auto;
}

.productsSum {
 font-family: Verdana, Tahoma, Arial;
 color: #000000; 
 font-style: normal;
 font-size:8pt; 
 font-weight:400;
 text-align: right;
 border: 0px 
}

.stawkiHeader {
 font-family: Verdana, Tahoma, Arial;
 font-size:8pt; 
 font-weight:600;
}

.stawki {
 font-family: Verdana, Tahoma, Arial;
 font-size:6pt; 
 font-weight:400;
 color: #000000; 
 font-style: normal;
}

.payDate {
 font-family: Verdana, Tahoma, Arial;
 font-size: 12px;
 color: #000000; 
 font-style: normal;
 font-weight: bold;
}

.toPay {
 font-family: Verdana, Tahoma, Arial;
 font-size: 12px;
 color: #000000; 
 font-style: normal;
 font-weight: bold;
}

.summary {
 font-size:8pt; 
 font-weight:600;
}

.additionalText {
 font-size:10pt; 
 font-weight:600;
}

.stamp {
 font-family: Verdana, Tahoma, Arial;
 font-size:6pt; 
 font-weight:400;
 text-align: left;
}

.dates {
 font-family: Verdana, Tahoma, Arial;
 font-size:8pt; 
 font-weight: 600;
 text-align: center;
}

.signature {
 font-family: Verdana, Tahoma, Arial;
 font-size:6pt; 
 font-weight:400;
 color: #000000; 
 font-style: normal;
 text-align: center;
}

.summarySmall {
 font-weight: normal;
 font-size:6pt; 
 font-weight:400;
}

.hrdiv1 {
 color: #f0f; 
 background-color: #f00; 
 height: 1px;
}

#stempel {
margin-right: 50px;
}
